 <!--SIGN UP MODAL-->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gridSystemModalLabel">Are you ready to improve your marketing campaign?</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal form-sign-up" action="https://united-bongo-115418.appspot.com/business/signup" method="POST">
                <div class="row">
                  <!-- Name input-->
                      <div class="form-group" id="name-group">
                        <div class="col-md-12" >
                          <label for="name" id="name-label">Your company name?</label>
                          <input id="name" name="name" type="text" placeholder="" class="form-control">
                        </div>
                      </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <!-- Country select-->
                      <div class="form-group">
                          <label for="country">Country</label>
                          <select id="country" name="country" type="text" placeholder="" class="form-control" required >
                            <option value="" ></option>
                          </select>
                      </div>
                  </div>
                  <div class="col-sm-6">
                     <!-- City input-->
                      <div class="form-group" id="city-group">
                          <label for="city" id="city-label">City</label>
                          <input id="city" name="city" type="text" placeholder="" class="form-control" >
                      </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-sm-8">
                     <!-- Address input-->
                      <div class="form-group" id="address-group">
                        
                          <label for"address" id="address-label">Address</label>
                          <input id="address" name="address" type="text" placeholder="" class="form-control" >
                        
                      </div>
                  </div>
                  <div class="col-sm-4">
                    <!-- Postal input-->
                      <div class="form-group">
                          <label for"postal">Postal number</label>
                          <input id="postal" name="postal_numb" type="text" placeholder="" class="form-control" >
                        
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-5">
                     <!-- Phone input-->
                      <div class="form-group" id="phone-group">
                          <label for"phone" id="phone-label">Phone</label>
                          <input id="phone" name="phone" type="text" placeholder="" class="form-control">
                      </div>
                  </div>
                  <div class="col-sm-7  ">
                    <!-- Email input-->
                      <div class="form-group" id="email-group">
                          <label for"email" id="email-label">Email</label>
                          <input id="email" name="email" type="text" placeholder="" class="form-control" >
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                     <!-- Facebook input-->
                      <div class="form-group" id="face-group">
                          <label for"facebook" id="face-label">Facebook</label>
                          <input id="facebook" name="fb_url" type="text" placeholder="" class="form-control">
                      </div>
                  </div>
                  <div class="col-sm-12">
                    <!-- URL input-->
                      <div class="form-group">
                          <label for"website">Website</label>
                          <input id="website" name="web" type="text" placeholder="" class="form-control">
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                  <!-- Description input-->
                      <div class="form-group">
                          <label for"desc" >Description</label>
                          <textarea id="desc" name="desc" type="text" placeholder="" class="form-control"></textarea>
                      </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                      <button type="submit" class="btn btn-primary btn-lg submit-form">SEND</button>
                    </div>
                  </div>
            </form>
          </div>
          <div class="modal-footer">
            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


<script src="sign-up.js"></script>