﻿body{width:100%;  text-align: center;}

h1{
  color:#b0b0b0; /*light gray*/
  font-weight: bold;
  font-size:2.2em;
  font-family: 'Roboto', sans-serif;
}

h1 a{color:#b0b0b0;}
h1 a:hover{text-decoration: none;color:#3ac4f0;}

h2{
  color:#676767; /*dark gray*/
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size:2.3em;
}
h3{
  color:#676767;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size:1.6em;
}
h4{
  color:#b0b0b0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size:1.4em;
  line-height: 2.5em;
}
p{font-family: 'Roboto', sans-serif;}

a{font-family: 'Roboto', sans-serif;}

/* TOP NAVIGATION */
nav.topNav{
  width: 100%;
  overflow: hidden; 
  position:fixed;
  background: #fff;
  z-index: 100000;
}
.topNav ul{
  padding-right:20px;
  float:right;
  margin-bottom: 0px;
}
.topNav ul li{
  display: inline-block;

}
.topNav ul li a{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #939393;
  text-decoration: none;
  line-height: 67px;
  display: block;
  padding:0 10px;

}

.topNavVisible{
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in;
     -moz-transition: opacity 0.3s ease-in;
      -ms-transition: opacity 0.3s ease-in;
       -o-transition: opacity 0.3s ease-in;
          transition: opacity 0.3s ease-in;
}

.topNavHidden{
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
     -moz-transition: opacity 0.3s ease-in;
      -ms-transition: opacity 0.3s ease-in;
       -o-transition: opacity 0.3s ease-in;
          transition: opacity 0.3s ease-in;
}

.borderHover{
  position: relative;
  color: #3ac4f0;
}

.borderHover:before{
  display: block;
  width: 0;
  height: 2px;
  margin-left:-5%;
  background-color: #3ac4f0;
  content: "";
  transition: width 0.5s;
}
.borderHover:hover{
  color: #3ac4f0;
  text-decoration: none;
}
.borderHover:hover:before{
  width: 110%;
}
.logoTopNav{
  float:left;
  width:150px;
  padding: 20px 0 0 10px;
}
.logo-mobile{display:none;width:50px;}

.sign-nav{
  width:90px;
  border-radius:20px;
  font-size:1em;
  padding:3px 10px 3px 10px;
  float:right;
  margin-top:20px;
}

/*HOME PAGE*/

.container.home{
    width:100%;
}
.heading-home{
  padding:15% 0 0 15%;
  text-align:center;
  position:absolute;
  z-index:2000;
  top:0;
}
.heading-home h2{
  font-size: 4em;
  font-weight: 200;
  text-align:left;
}
.heading-home p{
  color:#3ac4f0;
  font-family: 'Roboto', sans-serif;
  font-style:italic;
  font-weight: 300;
  font-size:1.2em;
  text-align: left;
}
.show-title-mobile{
  display:none;
  width:100%;
  padding:150px 20px 20px 30px;
}
.show-title-mobile h2{
  font-size: 3em;
  font-weight: 300;
  text-align:left;
}
.show-title-mobile p{
  color:#3ac4f0;
  font-family: 'Roboto', sans-serif;
  font-style:italic;
  font-weight: 300;
  font-size:1.2em;
  text-align: center;
}

.cover{
  text-align: center;

}
.cover-img{
  padding:0;
  
}
.btn.sign-up{
margin-top:-20px;
border-radius: 20px;
width:150px;
position:relative;
background-color: #3ac4f0;
border:none;
}

.btn.sign-up:hover{
  background-color: #30a6cc;
}
.learn-img{
  width:80px;
  padding-top:10px;
}
.carousel-indicators{
    margin-bottom:-150px;
    width:100%;
    left:30%;
}

.carousel-indicators li {
    background-color: #b0b0b0;
    border:none;
}

.carousel-indicators .active{
    background-color: #3ac4f0;
}
#myCarousel .carousel-control{margin-top:80px;}
/* HOW POINTME WORKS */

article .row{
  margin-right: 0px;
  margin-left: 0px;
}

.container{
  width: 100%;
}
.container.how-pointme-works{
  padding:80px 0px;
  text-align: center;
}

.icons{
  width:60px;
  padding-top:50px;
}
.how-pointme-works p{
  font-size:0.8em;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color:#616060;
}
.business-interface{
  padding-top:100px;
}
img.section-img{
  width: 100%;
}
h3.section-title{
  font-size: 2.2em;
  font-weight:200;
  line-height:2.2em;  
  padding-top:100px;
}
p.section-text{
  font-size: 1.4em;
  font-weight: 100;
  color:#676767;
  text-align: left;
  line-height:1.7em;
  padding-left:30px;
}
.section-read-more{
  color:#3ac4f0;
  font-family: "Roboto", sans-serif;
}

.friends{
    background-image: url('img/why.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 44.5%; /* (img-height / img-width * width) */
                /* (653 / 1400 * 100) */
}

#left-div{
  background-color: rgba(200, 200, 200, 0.5);
  position: relative;
}

.left-div-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:100%;
}

#left-div h1{
  color:#fff;
  font-size:2.6em;
}
#right-div{
  background-color: #3ac4f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#right-div ul{
  margin-bottom: 0px;
  padding: 15px 0px;
}
#right-div ul li{
  list-style-type: none;
  text-align: left;
  margin: 5% 0px;
}
#right-div img{
  margin-top: -5px;
  width:50px;
}
#right-div h3{
  color:#fff;
  font-weight: 100;
  display: inline;
}
.why-white{color: #fff;}

/* CASE STUDIES */

.case-studies{
  text-align: center;
}
.pic{width:50%; float:left;}
.pic_white{width:50%; float:left;}

.carousel-control.left, .carousel-control.right{
  background: none;
}
.glyphicon{
  color:#000;
}
.slider-indicators{
  margin-bottom:0px;
}
h2.case-study-title{
  position:absolute;
  float:right;
  font-size:2em;
  line-height:2.5em;
  margin-left:50%;
  margin:6% 0 0 55%;
}
.case-study-text{
  position:absolute;
  float:right;
  text-align:left;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size:1.6em;
  padding-top:4%;
  margin-left:50%;
  margin:9% 0 0 55%;
}
.case-study-text span{
  color:#3ac4f0;
  font-weight: bold;
}

/* MEET OUR PARTNERS */

.container.meet-our-partners{
  padding-left:100px;
  padding-right: 100px;
  text-align: center;
}
.partners{
  padding-top:60px;
}
.partners img{
  width:50px;
  width:120px;
  margin:30px;
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.partners img:hover{
   filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: none; /* IE6-9 */
}

/* FOOTER */

.container.footer{
  text-align: center;
  padding-top:100px;
}

.social-icons{
  width:50px;
  margin:50px 20px 50px 20px;
}


/* -------- PRICING -----------*/
.gradient{
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#f6f6f6, silver); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#f6f6f6, silver); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f6f6f6, silver); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f6f6f6, silver); /* Standard syntax (must be last) */
}
.pricing{
  text-align:center;
  padding-left:100px;
  padding-right: 100px;
}

.pricing .col-sm-4{
  padding-left: 0;
  padding-right: 0;
}

.pricing h1{
  margin-top:100px;
}
.box{
  height:450px;
  background-color: #fff;
  margin-top:80px;
  padding-top:20px;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}
.box:hover{margin-top:30px;}

.box h3{
  font-weight: 400;
}
.box h1{
  margin:0;
  color:#fff;
}
.box p{
  font-size:0.9em;
  line-height:1.8em;
}
.box a{
  font-size: 1em;
}
.red{color:#ea2227;}
.lightblue{color:#3ac4f0;}
.bordeaux{color:#821719;}

.box.standard{
  margin-top:40px;
  background-color: transparent;
  padding-left:0px !important; 
  padding-right:0px !important; 
  height:450px;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}
.box.standard:hover{margin-top:0px;}
.box.standard h3{
  padding-top: 20px;
  padding-bottom: 10px
}
.blue{
  padding:15px;
  margin-top:20px;
  background-color: #3ac4f0;

}
.padding{margin-top:30px; padding-bottom:30px;}

.sign-up-pricing-red{
  border-radius: 10px;
  width:90px;
  padding:5px;
  background-color:#ea2227;
  border:none;
  margin-top: 100px;
 }
 .sign-up-pricing-red:hover{background-color:#cb2024;}

 .sign-up-pricing-blue{
  border-radius: 10px;
  width:90px;
  padding:5px;
  background-color:#3ac4f0;
  border:none;
  margin-top: 20px;
 }
 .sign-up-pricing-bordeaux{
  border-radius: 10px;
  width:90px;
  padding:5px;
  background-color:#821719;
  border:none;
  margin-top: 40px;
 }
  .sign-up-pricing-bordeaux:hover{background-color:#641113;}



/*WHAT WE DO*/

.what-we-do-img{
  width:100%;
  padding:50px 50px 0 50px;
}
.what-we-do-text{
  padding:70px 0px;
}
.what-we-do-text h3{
  padding-bottom:60px;
  text-align:center;
}
.what-we-do-text li{
  font-family: 'Roboto', sans-serif;
  text-align:left;
  font-size:1.5em;
  font-weight:300;

}
.what-we-do-text ul { list-style-image: url("img/blue-line.png"); }
.what-we-do-text ul li { line-height:30px; list-style-image: url("img/blue-line.png");}

.clickable{cursor:pointer;}
.clickable:hover{-webkit-box-shadow: 10px 0 5px -2px #888;
            box-shadow: 5px 0 5px -2px #888;}

.icons .svg-inject {
    fill:#000;
}

.content{
  padding-left:60px;
  padding-right:60px;
  display:none;
}
.hide-icons{display:none;}
/* CASE STUDIES */

.container.pricing{}

.effects {
  padding-left: 30px;
  padding-top:50px;
}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;
  width: 25%;
  overflow: hidden;
}
.effects .img:nth-child(n) {
  margin-right:5x;
}
.effects .img:first-child {
  margin-left: -15px;
}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img img {
  display: block;
  margin: 0;
  padding-right: 10px;
  max-width: 100%;
  height: auto;
}

.overlay {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(58, 196, 240, 0.6);
  overflow: hidden;
  transition: all 0.5s;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  text-align: center;
  color: #f6f6f6;
  line-height: 50px;
  font-weight: 300;
  font-size: 2em;
  margin-top:100px;
}

#effect-1 .overlay {
  bottom: 0;
  left: -10px;
  right: 0;
  width: 100%;
  height: 0;
}
#effect-1 .overlay a.expand {
  left: 0%;
  right: 0;
  bottom: 35%;
  font-family: 'Roboto', sans-serif;
}
#effect-1 .img.hover .overlay {
  height: 100%;
}

.case{
  text-align:center;
  padding:50px 0 50px 0;
}
.case p{
  text-align:left;
  font-size:1.2em;
  font-weight: 300; 
}
.desc-p{
  padding:30px 100px;
}
.case-img{width:300px;}

.case-desc{
  padding-top:50px;
  padding-left: 80px;
  padding-right: 80px;
}

.case-desc p{

  font-size: 1.7em;
  font-style:italic;
  color:#3ac4f0;
}
.p-quote{
  padding:0;
  padding-top:50px;
  font-size: 1.7em;
  font-style:italic;
  color:#3ac4f0;
}
.p-quote.istra{
  font-size:1.5em;

}
.p-quote.istra-game{
  font-size:1.1em;
  padding-top:20px;

}
.case-span{
  padding-top:80px;
}
.case-span span{
  color:#ea2227;
  font-size:3em;
  font-weight: bold;
  padding-left:0px;
  line-height:0px;
}
.case-p p{
  color:#000;
  font-size:1em;
  font-style: normal;
  padding-top:20px;
  text-align: center;
}
p.show-on-mobile{
  color:#676767;
  font-size:1em;
  line-height: 0.2em;
  font-weight: 300;
  display:none;
  font-family: 'Roboto',sans-serif;
  text-align: center;

}
span.quote{
  color:#ea2227;
  font-size:3em;
  position:absolute;
  top:40px;
  left:-10px;
  font-family: fantasy;
  font-weight: 300;
}
.cases-titles{
  padding-top:30px;
  margin-bottom:0;
  display:none;
}
.cases-titles a{
  border:none; 
  margin:5px;
  background-color:#821719;
}
.cases-titles a:hover{
  background-color: #b4282b;
}
.phone-img{max-width:400px;width:100%;float:right}


/*WHY POINTME*/
.container.why-pointme{}

.why-pointme{
  padding-top:80px;
  text-align: center;
  width:100%;
}
.illustration{width:80% !important;}

.why-pointme .business-interface{
  padding-top:20px;
  padding-bottom:20px;
}
.why-pointme-title{
  font-size: 2.2em;
  font-weight:300;
  line-height:2.2em;  
  color:#676767;
}
.why-pointme-text{
  font-size: 1.2em;
  font-weight: 300;
  color:#676767;
  text-align: left;
  line-height:1.7em;
  padding:30px 20px 30px 20px;
}
.why-pointme-read-more{
  color:#3ac4f0;
  font-family: "Roboto", sans-serif;
}
.darker{background-color:#e0e0e0}

/*contact*/
.contact{
  padding-top:150px;
}
.contact legend{
  color:#b0b0b0;
  font-family: 'Roboto', sans-serif;
  border:none;
  padding-bottom:30px;
}
.control-label{
  color:#3ac4f0;
  font-family: 'Roboto', sans-serif;
}
.submit-simple-form{
  background-color:#3ac4f0;
  border:none;
  border-radius: 20px;
}
.submit-simple-form:hover{
  background-color: #32a7cc;
}

.form-control{
  border:none;
  box-shadow: none;
  border-radius: 15px;
}
.form-group{text-align: left;}
label{
  color:#3ac4f0;
  font-family: 'Roboto',sans-serif;
  padding-left:5px;
  padding-bottom:5px;
}
.contact a{
  font-size:1.5em;
  font-family: 'Roboto', sans-serif;
  color:#3ac4f0;
}

/*sign up modal*/
#city, #postal, #email{margin-left:3px;}

.modal{
  z-index: 100001;
}
.modal-body{
  background-color: #e0e0e0;
  padding:30px;
}
.modal-header{
  background-color: #e0e0e0;
  border:none;

}
.modal-title{
  color:#b0b0b0;
  font-family: 'Roboto', sans-serif;
  border:none;
  font-weight: 400;
  padding-top:20px;
  padding-bottom: 10px;
}

.modal-footer{
  background-color: #e0e0e0;
}

span.help-block{
  display:inline;
}

.submit-form{
  background-color:#3ac4f0;
  border:none;
  border-radius: 20px;
  width:100%;
  margin-top:15px;
}
.submit-form:hover{
  background-color: #32a7cc;
}


/* MEDIA QUERIES */

/*mobile navigation*/
@media screen and (max-width: 865px) {
  .topNavHidden{opacity:0;}
    #menu {
      opacity:1;
      width:1.4em;
      display: block;
      color:#3ac4f0;
      font-size:1.5em;
      text-align: center;
      cursor:pointer;
      float:right;
      padding:20px;
      margin-right:20px;

    }
    #nav.mobile_nav {
      display: none;
    }
    #nav url {
      width:100%;
    }
    .mobile_nav li {
      width:100%;
      border-right:none;
      text-align: center;
      padding:0;
      font-size:14px;
      padding:0px;
    }
  }
  
  @media screen and (min-width: 865px) {
    #menu {
      display: none;
    }
  }

  /*home page*/
  @media screen and (max-width: 1000px) {
  .heading-home h2 {font-size:2.8em;}
  }
  @media screen and (max-width: 748px) {
  .heading-home h2 {font-size:2.5em;}
  .heading-home{padding-top:10%}
  }
  @media screen and (max-width: 748px) {
  .heading-home h2 {padding-top:30px;}
  }

  @media screen and (max-width: 700px) {
    #myCarousel{display:none;}
    .logoTopNav{display:none;}
    .logo-mobile{display:block;}
    .heading-home h2{padding-top:120px;}
    .heading-home p{padding:20px 5px;}
    .btn.sign-up{margin-top:0; margin-top:60px;}
    .show-title-mobile{display:block;}
    .show-title-mobile h2{text-align: center;}
  }
  @media screen and (max-width: 488px) {
  .show-title-mobile h2 {font-size:2.3em;}
  }

/* business and web app*/

  @media screen and (max-width: 990px) {
    img.section-img {width:50% !important; }
    img.section-img.illustration {width:100% !important; }
    .section-title{padding-top:10px !important;}
    .bi{padding-bottom:50px;border-bottom:2px solid #3ac4f0;}
    .web-app{padding-bottom:50px;}

  }


  @media screen and (max-width: 480px) {
   #right-div h3{font-size:1.5em;}
  }
  @media screen and (max-width: 410px) {
    #left-div h1{font-size:1.8em;}
    #right-div h3{font-size:1.3em;}
  }
  @media screen and (max-width: 357px) {
     #right-div h3{font-size:1em;}
   }
  /* case studies */

  @media screen and (max-width: 700px) {
    .pic{width:100%; float:none;}
    .pic_white{display:none !important;}
    .text-on-slider{width:0;display:none;}
    .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{top:35%;}
    .slider-indicators{top:100%;}
    .meet-our-partners{padding-top:100px;}

  }
  /* partners */
  @media screen and (max-width: 655px) {
    .container.meet-our-partners{
      padding-left:0px;
      padding-right:0px;
    }
  }

  @media screen and (max-width: 800px) {
    .case-study-text{font-size:0.9em;}
    h2.case-study-title{font-size:1.5em !important;}
  }
   @media screen and (max-width: 550px) {
    .case-study-text{display:none;}
    h2.case-study-title{display:none;}

  }

  /*pricing*/
  @media screen and (max-width: 776px) {
  .blue.middle{ margin-left: 0px; margin-right: 0px; }
  .container{}
  }
   @media screen and (max-width: 533px) {
  .pricing{padding-left:20px; padding-right: 20px;}
  }


  /*case studies*/

  @media screen and (max-width: 1247px) {
  .case-images{padding-left:200px; padding-right:200px;}
  .case-img{padding:0 5px 5px 0;}
  }

  @media screen and (max-width: 1111px) {
  .quote{padding-left:0px;}
  .p-quote{padding-left:0px;}
  .case-span span{font-size:2.5em;}
  .case-span{padding-top:40px;}
  }

  @media screen and (max-width: 1020px) {
  .case-images{padding-left:50px; padding-right:50px;}
  }

  @media screen and (max-width: 993px) {
  .case-span{padding-top:50px;}
  .case-span span{font-size:2.5em;}
  .case-p {padding-bottom:50px;}
  .quote{padding-left:0px;}
  .p-quote{padding-left:0px; padding-bottom:0px;}
  a.expand{font-size:1.5em;}
  }

  @media screen and (max-width: 991px) {
  .case-desc img{float:none !important;}
  }

  @media screen and (max-width: 827px) {
   .quote{padding-left:30px;}
   .p-quote{padding-left:30px;}
   }

 @media screen and (max-width: 773px) {
  .case-images{padding-left:0px; padding-right:0px;}
  .case-img{width:250px;}
  .case-desc{padding-left: 30px;padding-right: 30px;}
  .desc-p{padding:30px 30px; }
  .p-quote{padding-top:10px;}
  .quote{top:0px !important;}
  }
   @media screen and (max-width: 613px) {
    .case-img-hide{display:none;}
    #zara{padding-top:20px;}
    .cases-titles{display:block;}
   }
   @media screen and (max-width: 560px) {
  .case-images{padding-left:0px; padding-right:0px;}
  .case-desc{padding-left: 15px;padding-right: 15px;}
  .case-img{width:200px;}
  .desc-p{padding:20px 20px; }
  }

  @media screen and (max-width: 450px) {
  .case-span span{font-size:2em;}
  }
    @media screen and (max-width: 419px) {
  .case-images img:nth-child(n){display:none;}
  .case-images img:first-child{display:block; width:100%; padding-left:10px;}
  .case{padding-top:0; padding-bottom: 0;}
  .case-span{padding-top:20px; padding-bottom: 50px;}
  .case-span span{line-height:2em;}
  .case-span .col-xs-2, .case-span .col-xs-3, .case-span .col-xs-5{width:100% !important;}
  .case-p{display:none;}
  p.show-on-mobile{display:block;  text-align: center;}
  .phone-img{display:none;}
  }


  /* why pointme */
   @media screen and (max-width: 1150px) {
   .illustration{padding-top:40px;}
  }
  @media screen and (max-width: 1110px) {
   .why-pointme-text{padding:5px 20px;}
  }
  @media screen and (max-width: 910px) {
   .illustration{padding:50px 0 0 0;}
  }
  @media screen and (max-width: 860px) {
   .illustration{padding:100px 0 0 0;}
  }
  @media screen and (max-width: 767px) {
   img.section-img.illustration {width:50% !important;}
  }
  @media screen and (max-width: 515px) {
   img.section-img.illustration {width:70% !important; padding-top:50px;}
  }
  @media screen and (max-width: 445px) {
   img.section-img.illustration {width:90% !important; padding-top:20px;}
  }
  @media screen and (max-width: 355px) {
  .why-pointme-title{font-size:1.8em;}
  }

  /* what we do */
  
  @media screen and (max-width: 1155px) {
    .what-we-do-text li{font-size:1.2em;}
    .what-we-do-text{padding:50px 0px;}
    .what-we-do-text h3{padding-bottom:25px;}
  }
  @media screen and (max-width: 990px) {
    .what-we-do-text li{text-align:center;}
    .what-we-do-text{padding-bottom:10px;}
    .why-pointme .bi{border-bottom:none;}
  }
    @media screen and (max-width: 710px) {
    .content{display:block; }
    .icons-container{display:none;}
    .hide-icons{display:block; padding-top:0; margin-left: auto; margin-right: auto; padding-bottom:10px;}
    .what-we-do-text h3{padding-bottom:5px;}
    .what-we-do-img{padding:20px 0px;}
    .content{padding-left:15px; padding-right:15px;}
  }
   @media screen and (max-width: 570px) {
    .what-we-do-text li{text-align:left;}
   }


  